<form id='record-form' action='' method='POST'>

    <label for='weight' class='vitalsign-label'>Weight: </label>
    <input type='text' class='form-control vitalsign-input'>
    <label for='temp' class='vitalsign-label'>Temp: </label>
    <input type='text' class='form-control vitalsign-input'>
    <label for='resp' id='resp' class='vitalsign-label'>Respiratory rate: </label>
    <input type='text' class='form-control vitalsign-input'><br>
    <label for='heart' id='heart' class='vitalsign-label'>Heart rate: </label>
    <input type='text' class='form-control vitalsign-input'>
    <label for='crt' class='vitalsign-label'>CRT: </label>
    <input type='text' class='form-control vitalsign-input'>
    <label for='mm' class='vitalsign-label'>MM: </label>
    <input type='text' class='form-control vitalsign-input'><br><br>
    <!-- <label for='heartworm'>Heartworm: </label>
    <input type='text' name='heartworm' class='form-control lab-input' value='<%= lab[0].heartworm %>'>
    <label for='skinscrape'>Skin scrape: </label>
    <input type='text' name='skin_scrape' class='form-control lab-input' value='<%= lab[0].skin_scrape %>'>
    <label for='earmites'>Ear mites/Ear cytology: </label>
    <input type='text' name='ear_mites' class='form-control lab-input' value='<%= lab[0].ear_mites %>'><br>
    <label for='cdv'>CDV: </label>
    <input type='text' name='cdv' class='form-control lab-input' value='<%= lab[0].cdv %>'>
    <label for='cpv'>CPV: </label>
    <input type='text' name='cpv' class='form-control lab-input' value='<%= lab[0].cpv %>'>
    <label for='fiv'>FIV/FeLV test: </label>
    <input type='text' name='fiv' class='form-control lab-input' value='<%= lab[0].fiv %>'><br>
    <label for='urinalysis' class='lab-textarea'>Urinalysis: </label>
    <label for='fecalysis' class='lab-textarea'>Fecalysis: </label>
    <label for='vaginalsmear' class='lab-textarea'>Vaginal smear: </label><br>
    <textarea name='urinalysis' class='form-control'></textarea>
    <textarea name='fecalysis' class='form-control'></textarea>
    <textarea name='vaginal_smear' class='form-control'></textarea><br>
    <label for='xray' class='lab-textarea'>Xray: </label><br>
    <textarea name='xray' id='xray' class='form-control'></textarea><br><br>
    <label for='differential'>Differential diagnosis: </label>
    <input type='text' name='differential' id='differential' class='form-control lab-input' value='<%= lab[0].differential %>'><br>
    <label for='definitive' id='def-lab' class='lab-textarea'>Definitive diagnosis: </label>
    <textarea name='definitive' id='definitive' class='form-control'></textarea><br><br>
    <label for='treatment' id='treatment-label' class='lab-textarea'>Treatment and Prescribed Medicine: </label><br>
    <textarea name='treatment' id='treatment' class='form-control'></textarea><br>
    <label for='comments'>Comments/Remarks: </label>
    <input type='text' name='comments' id='comments' class='form-control lab-input' value='<%= lab[0].comments %>'><br>
    <label for='next_app'>Next appointment: </label>
    <input type='date' name='next_app' id='date' class='form-control lab-input'>
    <label for='title'>Title: </label>
    <input type='text' name='title' id='title' class='form-control lab-input'> -->
</form>