<h1 class='display-4'>Appointment List</h1>
<input type='hidden' id='appointment' href='/appointment'>;
<form id='app-search' action='/searchApp' method='POST' autocomplete="off">
    <input type='text' id='search-appointment' class='form-control form-control-sm' name='search' placeholder='Search Appointment'>
    <label for='from'>From: </label>
    <input type='datetime-local' name='from' id='from' class='form-control form-control-sm' placeholder="From">
    <label for='to'>To: </label>
    <input type='datetime-local' name='to' id='to' class='form-control form-control-sm' placeholder="From">
    <button type='button' name='submit' id='search-btn' class='btn btn-primary btn-sm'><img src='img/search.png'> Search</button>
</form>
<button type='button' id='notification' class='btn btn-outline-success' href='/getNotification' data-toggle="modal" data-target="#notifModal">Notification</button>

<div id='appointment-table'>
    <table class='table table-bordered'>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Contact No.</th>
                <th>Date & Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < app.length; i++){ %>

            <tr>
                <td class='capitalize'><%=app[i].name %></td>
                <td><%=app[i].email %></td>
                <td><%=app[i].title %></td>
                <td><%=app[i].contact %></td>
                <td><%=app[i].date %></td>
                <td><button type='button' class='btn btn-danger delete-appointment' href='/deleteAppointment/<%= app[i].id %>'>Delete</button></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<!-- NOTIFICATION MODAL -->

<div class="modal fade" id="notifModal" tabindex="-1" role="dialog" aria-labelledby="notifModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notifModalLabel">Notification list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class='lead'>Appointments Tomorrow</p>
                <div id='notif-table'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id='send-notification' class="btn btn-primary">Send Notification</button>
            </div>
      </div>
    </div>
  </div>
    