<h1 class='display-4'>Appointment List</h1>
<form id='app-search' action='/searchApp' method='POST' autocomplete="off">
    <input type='text' id='search-appointment' class='form-control form-control-sm' name='search' placeholder='Search Appointment'>
    <label for='from'>From: </label>
    <input type='datetime-local' name='from' id='from' class='form-control form-control-sm' placeholder="From">
    <label for='to'>To: </label>
    <input type='datetime-local' name='to' id='to' class='form-control form-control-sm' placeholder="From">
    <button type='button' name='submit' id='search-btn' class='btn btn-primary btn-sm'><img src='img/search.png'> Search</button>
</form>

<div id='appointment-table'>
    <table class='table table-bordered'>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Contact No.</th>
                <th>Date & Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < app.length; i++){ %>

            <tr>
                <td><%=app[i].name %></td>
                <td><%=app[i].address %></td>
                <td><%=app[i].contact %></td>
                <td><%=app[i].date %></td>
                <td><a class='delete-appointment' href='/deleteAppointment/<%= app[i].id %>'>Delete</a></td>
            </tr>
        <% } %>
        </tbody>
    </table>

</div>
    