<h1 class='display-4'>Appointments Today</h1>
<input type='hidden' id='app-today' href='/appointmentsToday'>
<div id='appointment-table'>
    <table class='table table-bordered'>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Date & Time</th>
                <th id='app-today-action'>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < app.length; i++){ %>

            <tr>
                <td class='capitalize'><%=app[i].name %></td>
                <td><%=app[i].email %></td>
                <td><%=app[i].title %></td>
                <td><%=app[i].date %></td>
                <td><button type='button' class='btn btn-success complete-appointment' value='<%= app[i].complete %>' href='/completeAppointment/<%= app[i].id %>'>Complete</button> | <button type='button' class='btn btn-danger delete-appointment-today' href='/deleteAppointment/<%= app[i].id %>'>Delete</button></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
