<h1 class='display-4'>Client List</h1>
<form id='search' action='/searchClient' method='POST' autocomplete="off">
    <input type='text' id='search-client' class='form-control form-control-sm' name='search' placeholder='Search Name'>
    <button type='button' name='submit' id='search-btn' class='btn btn-primary btn-sm'><img src='img/search.png'> Search</button>
</form>

<button type='button' id='add-client' class='btn btn-primary' name='add-client' value='Add'data-toggle="modal" data-target="#client-modal">+ Add</button>

<div id='client-table'>
    <table class='table table-bordered'>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th id='contact'>Contact No.</th>
                <th>Status</th>
                <th id='action'>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < client.length; i++){ %>

                <tr>
                    <td class='capitalize'><%=client[i].name %></td>
                    <td><%=client[i].email %></td>
                    <td class='capitalize'><%=client[i].address %></td>
                    <td><%=client[i].contact %></td>
                    <td class='status'>
                        <% if(client[i].is_active == 1){ %>
                            Active
                        <% } else{%>
                            Not Active
                        <% } %>
                    </td>
                    
                    <td class='td-action' ><button type='button' id='<%= client[i].id %>' class='btn btn-success viewClient' href='/viewClient/<%= client[i].id %>'>View</button>
                    |
                    <!-- <% if(client[i].is_active == 1){ %>
                        <button href='/deactivate/<%= client[i].id %>' value='deactivate' class='btn btn-danger client-status'>Deactivate</button>
                    <%}else if(client[i].is_active == 0){%>
                        <button href='/activate/<%= client[i].id' value='activate' class='btn btn-primary client-status' >Activate</button>
                    <% } %> -->
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

</div>
    
<!-- CLIENT MODAL -->

<div class="modal fade" id="client-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Client</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id='errors'>
                </div>
                <form id='client-form' action='/addClient' method='POST' autocomplete="nope">
                    <label for='firstname' id='client-firstname'>First Name:<span class='require'>*</span> </label>
                    <label for='Lastname' id='client-lastname'>Last Name:<span class='require'>*</span> </label><br>
                    <input type='text' name='first_name' id='input-firstname' class='form-control client-input'  autocomplete="nope">
                    <input type='text' name='last_name' id='input-lastname' class='form-control client-input' autocomplete="nope"><br>
                    <label for='email'>Email:<span class='require'>*</span> </label><br>
                    <input type='text' name='email' id='email' class='form-control'><br>
                    <label for='address'>Address:<span class='require'>*</span> </label>
                    <input type='text' name='address' id='input-address' class='form-control' autocomplete="nope"><br>
                    <label for='contact'>Contact No:<span class='require'>*</span> </label><br>
                    <input type='number' id='input-contact' name='contact' class='form-control client-input' autocomplete="nope">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id='saveClient' class="btn btn-primary" >Add Client</button>
            </div>
          </div>
        </div>
    </div>