<h1 class='display-4'>Edit Profile</h1>

<div id='profile'>
    
    <form id='edit-user' action="/editUser/<%= id %>" method='POST'>
        <p class='lead'>Personal Info</p>
        <label for='firstname'>First name: </label>
        <input type='text' name='first_name' class='form-control' value="<%= user[0].first_name %>"><br>
        <label for='lastname'>Last name: </label>
        <input type='text' name='last_name' class='form-control' value="<%= user[0].last_name %>"><br><br>
        <p class='lead'>Account</p>
        <label for='username'>Username: </label>
        <input type='text' name='username' class='form-control' value="<%= user[0].username %>"><br>
        <label for='password'>Password: </label>
        <input type='password' name='password' class='form-control' value="<%= user[0].password %>"><br>
        <input type='submit' id='save-profile' class='btn btn-primary' value='Save Profile'>
    </form>

</div>