<h1 class='display-4'>Manage Users</h1>
<button type='button' id='add-user' class='btn btn-primary' data-toggle="modal" data-target="#manageUserModal">+ Add</button>
<div id='manage-user-table'>
    <table class='table table-bordered '>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>User Level</th>
                <th>Username</th>
                <th>Password</th>
                <th>Status</th>
                <th id='action'>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < users.length; i++){ %>
                <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].user_level %></td>
                    <td><%= users[i].username %></td>
                    <td><%= users[i].password %></td>
                    <% if(users[i].is_active == 1){ %>
                        <td>Active</td>
                    <% } else if(users[i].is_active == 0){ %>
                        <td>Not Active</td>
                    <% } %>
                <% if(users[i].user_level == 'Admin'){ %>
                        <td class='delete'>
                            <p>No Action</p>
                        </td>
                <% } else if (users[i].user_level == 'Staff'){%>
                    <td class='delete'>
                        <button type='button' id='edit-user' class='btn btn-success edit-user-staff' data-toggle="modal" data-target="#editStaffModal" href='/getUserStaff/<%= users[i].id %>'>Edit</button> 
                    </td>
                </tr>
                <%} %>
            <%} %>
        </tbody>
    </table>
</div>

<!-- MANAGE USER MODAL -->

<div class="modal fade" id="manageUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ManageUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ManageUserModalLabel">Add User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           
            <form id='add-user-form' action="/addUser" method='POST'>
                 <div id='user-errors'></div>
                <p class='lead'>Personal Info</p>
                <label for='firstname'>First name:<span class='require'>*</span> </label>
                <input type='text' name='firstname' class='form-control'><br>
                <label for='lastname'>Last name:<span class='require'>*</span> </label>
                <input type='text' name='lastname' class='form-control'><br><br>
                <p class='lead'>Account</p>
                <label for='username'>Username:<span class='require'>*</span> </label>
                <input type='text' name='username' class='form-control'><br>
                <label for='password'>Password:<span class='require'>*</span> </label>
                <div class='form-group'>
                    <input type='password' id='user-password' name='password' class='form-control'><img id='view-password' src='img/closeeye.png'><br>
                </div>
                
                <label for='confirmpassword'>Confirm Password:<span class='require'>*</span> </label>
                <div class='form-group'>
                    <input type='password' id='user-confirm-password' name='confirmpassword' class='form-control'><img id='view-confirm-password' src='img/closeeye.png'><br>
                </div>
                
                <label for='userlevel'>User level:<span class='require'>*</span> </label>
                <select name='userlevel' class='form-control'>
                    <option value='Staff'>Staff</option>
                    <option value='Admin'>Admin</option>
                </select>
               
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id='save-user' class="btn btn-primary">Add User</button>
        </div>
      </div>
    </div>
</div>

<!-- EDIT STAFF -->

<div class="modal fade" id="editStaffModal" tabindex="-1" role="dialog" aria-labelledby="editStaffModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Staff</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id='edit-user-staff-form' class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id='save-user-staff' class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>