<p class='lead'>Appointments on</p>
<div id='notif-table'>
    <table class='table table-bordered'>
        <thead class='table-dark'>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < clients.length; i++){ %>

            
            <tr>
                <td><%= clients[i].name %></td>
                <td><%= clients[i].email %></td>
                <td><%= clients[i].address %></td>
                <td><%= clients[i].contact %></td>
                <td><%= clients[i].datetime %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>