<h1 class='display-4'>Pet Information</h1>
<button type='button' id='pet-back' class='btn btn-secondary'>Back</button>
<input type='hidden' id='back-to-client' href='/viewClient/<%= client %>'>
<input type='hidden' id='pet-stay' href='/viewPet/<%= client %>/<%= pet[0].petId %>'>

<div id='pet-page'>
    <p class='display-4' id='name'>Name: <span class='lead'><%= pet[0].name %></span></p>
    <button type='button' id='edit-pet' class='btn btn-info btn-sm' data-toggle="modal" data-target="#editPetModal">Edit Profile</button>
    <p class='display-4'>Age: <span class='lead'><%= pet[0].age %></span></p>
    <p class='display-4'>Birthday: <span class='lead'><%= pet[0].birthdate %></span></p>
    <p class='display-4'>Sex: <span class='lead'><%= pet[0].sex %></span></p>
    <p class='display-4'>Altered: <span class='lead'><%= pet[0].altered %></span></p>
    <p class='display-4'>Color: <span class='lead'><%= pet[0].color %></span></p>
    <p class='display-4' id='owner-name'>Owner's name: <span class='lead'><%= pet[0].owner %></span></p>
</div>
<button type='button' id='add-pet-record' class='btn btn-primary' data-toggle="modal" data-target="#petRecordModal"> <span>+</span> Record</button><br>
<h1 class='display-3 h1-healthrecord'>Health Records</h1>
<input type='hidden' id='record-type-input' href='/getRecordType/<%= client %>/<%= pet[0].petId %>/'>
<form id='record-type-form' action='/getRecordType/<%= client %>/<%= pet[0].petId %>/' method='POST'>
    <label for='record-type-show' id='record-type-label'>Record Type:</label>
    <select id='record-type-show' name='recordTypeShow' class='form-control'>
        <option>Select Type</option>
        <option value=''>All</option>
        <option value='Consultation'>Consultation</option>
        <option value='Vaccination'>Vaccination</option>
        <option value='Deworming'>Deworming</option>
        <option value='Confinement'>Confinement</option>
        <option value='Surgery'>Surgery</option>
        <option value='Boarding'>Boarding</option>
    </select>
</form>

<div id='healthRecordTable'>
    
    <table class=' table table-bordered'>
        <thead class='table-dark'>
            <tr>
                <th>Examining Vet</th>
                <th>Record Type</th>
                <th>Date</th>
                <th id='action'>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i< system.length; i++){%>
            <tr>
                <td><%= system[i].exam_vet %></td>
                <td><%= system[i].record_type %></td>
                <td class='date'><%= system[i].created_date %></td>
                <td class='btn-view'>
                    <button type='button' class='btn btn-success view-health' value='<%= client %>/<%= pet[0].petId %>/<%= system[i].systemId %>' href='/getHealth/<%= system[i].pet_id %>/<%= system[i].systemId %>' data-toggle="modal" data-target="#viewHealthRecordModal">View</button>
                    <span>|</span>
                    <button type='button' class='btn btn-info view-report' value='<%= client %>/<%= pet[0].petId %>/<%= system[i].systemId %>' href='/getReport/<%= system[i].pet_id %>/<%= system[i].systemId %>' data-toggle="modal" data-target="#reportModal">View Report</button>
                </td>
            </tr>
            <% }%>
        </tbody>
    </table>
</div>

<!-- EDIT PET INFO -->
<div class="modal fade" id="editPetModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="editPetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPetModalLabel">Edit Pet Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id='edit-pet-info' action='/editPetInfo/<%= pet[0].petId %>' method='POST'>
            <label for='name'>Name:<span class='require'>*</span> </label>
            <input type='text' id='name' name='name' class='form-control' value='<%= pet[0].name %>' required><br>
            <label for='birthdate'>Date of Birth: </label>
            <input type='date' id='birthdate' name='birthdate' class='form-control datetime-input' value='<%= pet[0].birthdate %>' required><br>
            <label for='species'>Species:<span class='require'>*</span> </label>
            <input type='text' name='species' class='form-control' value='<%= pet[0].species %>' required>
            <label for='breed'>Breed: </label>
            <input type='text' id='breed' name='breed' class='form-control' value='<%= pet[0].breed %>' required><br>
            <label for='sex'>Sex: </label>
            <input type='text' name='sex' class='form-control' value='<%= pet[0].sex %>' required>
            <label for='color'>Color:<span class='require'>*</span> </label>
            <input type='text' name='color' class='form-control' value='<%= pet[0].color %>' required>
            <div id='pet-info-errors'></div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id='save-pet-info' class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- VIEW RECORD -->
<div class="modal fade" id="viewHealthRecordModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="viewRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewRecordModalLabel">Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id='print-modal' class="modal-body print-modal-body">
                <div id='record-content'>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id='edit-lab' class='btn btn-primary edit-lab' data-toggle="modal" data-target="#labModal">Edit</button>
                <!-- <button type="button" id='print-now' class="btn btn-primary">Print</button> -->
            </div>
        </div>
    </div>
</div>

<!-- VIEW PET REPORT -->
<div class="modal fade" id="reportModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='pet-report' class="modal-body ">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id='print-now' class="btn btn-primary">Print</button>
      </div>
    </div>
  </div>
</div>

<!-- LAB MODAL -->
<div class="modal fade" id="labModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="labModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labModalLabel">Edit Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id='labModalBody' class="modal-body lab-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id='save-lab' class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- PET RECORD MODAL -->

<div class="modal fade" id="petRecordModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="petRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="petModalLabel">Add Pet Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id='pet-modal-body' class="modal-body">
            <form id='pet-record-form' action='/addPetRecord/<%= client %>/<%= pet[0].petId %>' method='POST'>
                <div id='record-errors'></div>
                <label>Record type:</label>
                <select name='recordType' class='form-control'>
                    <option value='consultation'>Consultation</option>
                    <option value='vaccination'>Vaccination</option>
                    <option value='deworming'>Deworming</option>
                    <option value='confinement'>Confinement</option>
                    <option value='surgery'>Surgery</option>
                    <option value='boarding'>Boarding</option>
                </select><br>
                <label for='examvet'>Examining Vet:<span class='require'>*</span> </label>
                <select name='exam_vet' id='examvet-input' class='form-control'>
                    <option value='Dr. Ken Oliver O. Badua'>Dr. Ken Oliver O. Badua</option>
                    <option value='Dr. Annie N. Nacis'>Dr. Annie N. Nacis</option>
                    <option value='Dr. Danni Lou O. Manuel'>Dr. Danni Lou O. Manuel</option>
                    <option vlaue='Dr. Jacques Glenn G. Apigo'>Dr. Jacques Glenn G. Apigo</option>
                    
                </select>
                
                <label for='datetime'>Date and Time:<span class='require'>*</span> </label>
                <input type='datetime-local' id='datetime-input' class='form-control datetime-input' name='created_at'><br>
                <label for='complaint/history' id='complaint-label'>Complaints/Concerns/History:<span class='require'>*</span> </label>
                <label for='currentmed' id='currentmed-label'>Current Medication: </label>
                <label for='physicalexam' >Physical Exam:<span class='require'>*</span> </label><br>
                <textarea name='complaint' id='complaint' class='form-control textarea-input'></textarea>
                <textarea name='current_med' id='currentmed' class='form-control textarea-input'></textarea>
                <textarea name='physical_exam' id='physicalexam' class='form-control textarea-input'></textarea>

                <div id='vitalsigns'>
                    <p class='lead'>Vital signs</p>
                    <label for='weight'>Weight/BCS:<span class='require'>*</span> </label>
                    <input type='text' name='weight' class='form-control vitalsign'>
                    <label for='temp'>Temp:<span class='require'>*</span> </label>
                    <input type='number' name='temp' class='form-control vitalsign'>
                    <label for='respiratory_rate'>Resp. rate:<span class='require'>*</span> </label>
                    <input type='text' name='resprate' class='form-control vitalsign'>
                    <label for='heart_rate'>Heart rate:<span class='require'>*</span> </label>
                    <input type='text' name='heartrate' class='form-control vitalsign'>
                    <label for='crt'>CRT:<span class='require'>*</span> </label>
                    <input type='text' name='crt' class='form-control vitalsign'>
                    <label for='mm'>MM: </label>
                    <select name='mm' id='mm' class='form-control vitalsign'>
                        <option value='Not pale'>Not Pale</option>
                        <option value='Pale'>Pale</option>
                    </select>
                </div>

                <div id='system'>
                    <table class='table table-bordered'>
                        <thead class='table-dark'>
                            <tr>
                                <th>Systems</th>
                                <th>Condition</th>
                                <th>Findings/Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>General Apperance</td>
                                <td class='conditions'><select name='generalApp' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='genappfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Teeth/Mouth</td>
                                <td class='conditions'><select name='teethmouth' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='teethmouthfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Eyes</td>
                                <td class='conditions'><select name='eyes' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='eyesfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Ears</td>
                                <td class='conditions'><select name='ears' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='earsfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Skin/Coat</td>
                                <td class='conditions'><select name='skincoat' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='skincoatfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Heart/Lungs</td>
                                <td class='conditions'><select name='heartlungs' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='heartlungsfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Digestive</td>
                                <td class='conditions'><select name='digestive' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='digestivefindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>musculoskeletal</td>
                                <td class='conditions'><select name='musculoskeletal' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='musculoskeletalfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Nervous</td>
                                <td class='conditions'><select name='nervous' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='nervousfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Lymph nodes</td>
                                <td class='conditions'><select name='lymph' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='lymphfindings' class='form-control'></textarea></td>
                            </tr>
                            <tr>
                                <td>Urogenitals</td>
                                <td class='conditions'><select name='urogenitals' class='form-control'>
                                        <option value='Normal'>Normal</option>
                                        <option value='Abnormal'>Abnormal</option>
                                    </select>
                                </td>
                                <td class='findings'><textarea name='urogenitalsfindings' class='form-control'></textarea></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type='button' id='save-pet-record' class='btn btn-primary' >Add</button>
        </div>
      </div>
    </div>
  </div>